.qualification {
  background-color: var(--site-qualification-bg);
  width: 100%;
}
.qualification__container .heading h2 {
  color: var(--site-qualification-color);
}
@media (min-width: 200px) and (max-width: 359px) {
  .qualification__container .heading h2 {
    font-size: 1.7rem !important;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .qualification__container .heading h2 {
    font-size: 1.9rem !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .qualification__container .heading h2 {
    font-size: 2rem !important;
  }
}
@media (min-width: 768px) and (max-width: 880px) {
  .qualification__container .heading h2 {
    font-size: 2.3rem !important;
  }
}
.qualification__container .heading p {
  color: var(--site-qualification-tagline);
}
@media (min-width: 200px) and (max-width: 359px) {
  .qualification__container .heading p {
    font-size: 0.85rem !important;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .qualification__container .heading p {
    font-size: 0.95rem !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .qualification__container .heading p {
    font-size: 1.05rem !important;
  }
}
@media (min-width: 768px) and (max-width: 880px) {
  .qualification__container .heading p {
    font-size: 1.15rem !important;
  }
}
@media (min-width: 200px) and (max-width: 350px) {
  .qualification__container__row__category {
    gap: 1rem !important;
  }
}
.qualification__container__row__category span {
  cursor: pointer;
}
@media (min-width: 200px) and (max-width: 350px) {
  .qualification__container__row__category span {
    gap: 0.5rem !important;
  }
}
.qualification__container__row__category span i {
  color: var(--site-qualification-icons);
  font-size: 1.5rem;
  margin-top: -0.1rem;
}
@media (min-width: 200px) and (max-width: 350px) {
  .qualification__container__row__category span i {
    font-size: 1.2rem !important;
  }
}
.qualification__container__row__category .qualification-btn-active {
  color: #f96244;
}
.qualification__container__row__category span h3 {
  color: var(--site-qualification-color);
}
.qualification__container__row__category span h3:hover {
  color: var(--site-qualification-icons);
  transition: 0.3s all ease-in-out;
}
@media (min-width: 200px) and (max-width: 350px) {
  .qualification__container__row__category span h3 {
    font-size: 1.2rem !important;
  }
}
.qualification__container__row__col {
  margin-top: 3.2rem;
}
@media (min-width: 200px) and (max-width: 359px) {
  .qualification__container__row__col {
    align-items: flex-start !important;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .qualification__container__row__col {
    align-items: center !important;
  }
}
@media (min-width: 576px) and (max-width: 670px) {
  .qualification__container__row__col__content .fsc {
    margin-left: 6.8rem !important;
    justify-content: flex-end !important;
    width: 65% !important;
    transform: scale(0.9) translateY(-20px);
  }
}
@media (min-width: 200px) and (max-width: 575px) {
  .qualification__container__row__col__content {
    gap: 2rem;
    align-items: flex-start !important;
  }
}
.qualification__container__row__col__content__one {
  width: 40%;
  margin-right: 21rem;
}
@media (min-width: 200px) and (max-width: 359px) {
  .qualification__container__row__col__content__one {
    margin-right: 0rem !important;
    justify-content: center !important;
    width: auto !important;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .qualification__container__row__col__content__one {
    margin-right: 0rem !important;
    justify-content: center !important;
    width: auto !important;
  }
}
@media (min-width: 576px) and (max-width: 670px) {
  .qualification__container__row__col__content__one {
    margin-right: 18rem !important;
    justify-content: flex-end !important;
    width: 65% !important;
    transform: scale(0.9);
  }
}
@media (min-width: 671px) and (max-width: 767px) {
  .qualification__container__row__col__content__one {
    margin-right: 20.2rem !important;
    justify-content: flex-end !important;
    width: 65% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .qualification__container__row__col__content__one {
    margin-right: 22rem !important;
    justify-content: flex-end !important;
    width: 48% !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .qualification__container__row__col__content__one {
    margin-right: 22rem !important;
    justify-content: flex-end !important;
    width: 55% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .qualification__container__row__col__content__one {
    margin-right: 26.8rem !important;
    justify-content: flex-end !important;
    width: 55% !important;
  }
}
.qualification__container__row__col__content__one__desc h3 {
  color: var(--site-qualification-color);
  font-size: 1.2rem;
}
@media (min-width: 200px) and (max-width: 359px) {
  .qualification__container__row__col__content__one__desc h3 {
    font-size: 0.95rem !important;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .qualification__container__row__col__content__one__desc h3 {
    font-size: 1.12rem !important;
  }
}
.qualification__container__row__col__content__one__desc p {
  color: var(--site-qualification-subtext);
}
@media (min-width: 200px) and (max-width: 359px) {
  .qualification__container__row__col__content__one__desc p {
    font-size: 0.82rem !important;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .qualification__container__row__col__content__one__desc p {
    font-size: 0.9rem !important;
  }
}
.qualification__container__row__col__content__one__desc span {
  color: var(--site-qualification-subtext);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9rem;
}
@media (min-width: 200px) and (max-width: 359px) {
  .qualification__container__row__col__content__one__desc span {
    font-size: 0.75rem !important;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .qualification__container__row__col__content__one__desc span {
    font-size: 0.83rem !important;
  }
}
@media (min-width: 200px) and (max-width: 575px) {
  .qualification__container__row__col__content__one__shape {
    display: none !important;
  }
}
.qualification__container__row__col__content__one__shape__round {
  width: 0.9rem;
  height: 0.9rem;
  background: var(--site-qualification-icons);
  border-radius: 50%;
}
.qualification__container__row__col__content__one__shape__line {
  width: 0.15rem;
  height: 100%;
  background: var(--site-qualification-color);
}
.qualification__container__row__col__content__two {
  width: 40%;
  margin-left: 19.9rem;
}
@media (min-width: 200px) and (max-width: 575px) {
  .qualification__container__row__col__content__two {
    margin-left: 0 !important;
    justify-content: center !important;
    width: auto !important;
  }
}
@media (min-width: 576px) and (max-width: 670px) {
  .qualification__container__row__col__content__two {
    margin-left: 12.3rem !important;
    justify-content: flex-end !important;
    width: 65% !important;
    transform: scale(0.9) translateY(-20px);
  }
}
@media (min-width: 671px) and (max-width: 767px) {
  .qualification__container__row__col__content__two {
    margin-right: 0rem !important;
    justify-content: flex-start !important;
    width: 65% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .qualification__container__row__col__content__two {
    margin-right: 2rem !important;
    justify-content: flex-start !important;
    width: 48% !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .qualification__container__row__col__content__two {
    margin-right: 1.5rem !important;
    justify-content: flex-start !important;
    width: 55% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .qualification__container__row__col__content__two {
    margin-right: -2rem !important;
    justify-content: flex-start !important;
    width: 55% !important;
  }
}
.qualification__container__row__col__content__two__desc h3 {
  color: var(--site-qualification-color);
  font-size: 1.2rem;
}
@media (min-width: 200px) and (max-width: 359px) {
  .qualification__container__row__col__content__two__desc h3 {
    font-size: 0.95rem !important;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .qualification__container__row__col__content__two__desc h3 {
    font-size: 1.12rem !important;
  }
}
.qualification__container__row__col__content__two__desc p {
  color: var(--site-qualification-subtext);
}
@media (min-width: 200px) and (max-width: 359px) {
  .qualification__container__row__col__content__two__desc p {
    font-size: 0.82rem !important;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .qualification__container__row__col__content__two__desc p {
    font-size: 0.9rem !important;
  }
}
.qualification__container__row__col__content__two__desc span {
  color: var(--site-qualification-subtext);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9rem;
}
@media (min-width: 200px) and (max-width: 359px) {
  .qualification__container__row__col__content__two__desc span {
    font-size: 0.75rem !important;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .qualification__container__row__col__content__two__desc span {
    font-size: 0.83rem !important;
  }
}
@media (min-width: 200px) and (max-width: 575px) {
  .qualification__container__row__col__content__two__shape {
    display: none !important;
  }
}
.qualification__container__row__col__content__two__shape__round {
  width: 0.9rem;
  height: 0.9rem;
  background: var(--site-qualification-icons);
  border-radius: 50%;
}
.qualification__container__row__col__content__two__shape__line {
  width: 0.15rem;
  height: 100%;
  background: var(--site-qualification-color);
}
.qualification__container__row__col__content__three {
  width: 40%;
  margin-right: 21rem;
}
@media (min-width: 200px) and (max-width: 575px) {
  .qualification__container__row__col__content__three {
    margin-right: 0 !important;
    justify-content: center !important;
    width: auto !important;
  }
}
@media (min-width: 576px) and (max-width: 670px) {
  .qualification__container__row__col__content__three {
    margin-right: 18.2rem !important;
    justify-content: flex-end !important;
    width: 65% !important;
    transform: scale(0.9) translateY(-32px);
  }
}
@media (min-width: 671px) and (max-width: 767px) {
  .qualification__container__row__col__content__three {
    margin-right: 20.2rem !important;
    justify-content: flex-end !important;
    width: 65% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .qualification__container__row__col__content__three {
    margin-right: 22rem !important;
    justify-content: flex-end !important;
    width: 48% !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .qualification__container__row__col__content__three {
    margin-right: 22rem !important;
    justify-content: flex-end !important;
    width: 55% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .qualification__container__row__col__content__three {
    margin-right: 26.8rem !important;
    justify-content: flex-end !important;
    width: 55% !important;
  }
}
.qualification__container__row__col__content__three__desc h3 {
  color: var(--site-qualification-color);
  font-size: 1.2rem;
}
@media (min-width: 200px) and (max-width: 359px) {
  .qualification__container__row__col__content__three__desc h3 {
    font-size: 0.95rem !important;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .qualification__container__row__col__content__three__desc h3 {
    font-size: 1.12rem !important;
  }
}
.qualification__container__row__col__content__three__desc p {
  color: var(--site-qualification-subtext);
}
@media (min-width: 200px) and (max-width: 359px) {
  .qualification__container__row__col__content__three__desc p {
    font-size: 0.82rem !important;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .qualification__container__row__col__content__three__desc p {
    font-size: 0.9rem !important;
  }
}
.qualification__container__row__col__content__three__desc span {
  color: var(--site-qualification-subtext);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9rem;
}
@media (min-width: 200px) and (max-width: 359px) {
  .qualification__container__row__col__content__three__desc span {
    font-size: 0.75rem !important;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .qualification__container__row__col__content__three__desc span {
    font-size: 0.83rem !important;
  }
}
@media (min-width: 200px) and (max-width: 575px) {
  .qualification__container__row__col__content__three__shape {
    display: none !important;
  }
}
.qualification__container__row__col__content__three__shape__round {
  width: 0.9rem;
  height: 0.9rem;
  background: var(--site-qualification-icons);
  border-radius: 50%;
}
.qualification__container__row__col__content__three__shape__line {
  width: 0.15rem;
  height: 100%;
  background: var(--site-qualification-color);
}
.qualification__container__row__col__content__four {
  width: 40%;
  margin-left: 19.9rem;
}
@media (min-width: 200px) and (max-width: 575px) {
  .qualification__container__row__col__content__four {
    margin-left: 0 !important;
    justify-content: center !important;
    width: auto !important;
  }
}
@media (min-width: 576px) and (max-width: 670px) {
  .qualification__container__row__col__content__four {
    margin-left: 15.3rem !important;
    justify-content: flex-end !important;
    width: 65% !important;
    transform: scale(0.9) translateY(-43px);
  }
}
@media (min-width: 671px) and (max-width: 767px) {
  .qualification__container__row__col__content__four {
    margin-right: 0rem !important;
    justify-content: flex-start !important;
    width: 65% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .qualification__container__row__col__content__four {
    margin-left: 18rem !important;
    justify-content: flex-start !important;
    width: 48% !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .qualification__container__row__col__content__four {
    margin-right: 1.5rem !important;
    justify-content: flex-start !important;
    width: 55% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .qualification__container__row__col__content__four {
    margin-right: -2rem !important;
    justify-content: flex-start !important;
    width: 55% !important;
  }
}
.qualification__container__row__col__content__four__desc h3 {
  color: var(--site-qualification-color);
  font-size: 1.2rem;
}
@media (min-width: 200px) and (max-width: 359px) {
  .qualification__container__row__col__content__four__desc h3 {
    font-size: 0.95rem !important;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .qualification__container__row__col__content__four__desc h3 {
    font-size: 1.12rem !important;
  }
}
.qualification__container__row__col__content__four__desc p {
  color: var(--site-qualification-subtext);
}
@media (min-width: 200px) and (max-width: 359px) {
  .qualification__container__row__col__content__four__desc p {
    font-size: 0.82rem !important;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .qualification__container__row__col__content__four__desc p {
    font-size: 0.9rem !important;
  }
}
.qualification__container__row__col__content__four__desc span {
  color: var(--site-qualification-subtext);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9rem;
}
@media (min-width: 200px) and (max-width: 359px) {
  .qualification__container__row__col__content__four__desc span {
    font-size: 0.75rem !important;
  }
}
@media (min-width: 360px) and (max-width: 575px) {
  .qualification__container__row__col__content__four__desc span {
    font-size: 0.83rem !important;
  }
}
@media (min-width: 200px) and (max-width: 575px) {
  .qualification__container__row__col__content__four__shape {
    display: none !important;
  }
}
.qualification__container__row__col__content__four__shape__round {
  width: 0.9rem;
  height: 0.9rem;
  background: var(--site-qualification-icons);
  border-radius: 50%;
}
.qualification__container__row__col__content__four__shape__line {
  width: 0.15rem;
  height: 100%;
  background: var(--site-qualification-color);
}
.qualification .display {
  display: flex !important;
}
.qualification .hide {
  display: none !important;
}